*.gcov
gcov.summary.txt
gnatcheck.*.out
gnatcheck.*.log
gnatcheck.out
gnatcheck.log
*aunit.xml
/*.junit/*.xml
index.html
features*.html
sample-html*.html
*.aunit.txt

/xreq-ada.html
/xreq-c.html
/cucumber-ada.html
/cucumber-c.html
/unit.txt
/unit-debug.txt
/*.status
