export HAVE_C_COMPILER='1'
export CC='gcc'
unset CFLAGS
c_compile () {
	local DEPS

	if [ -z "$HAVE_C_COMPILER" ]; then
		return 1
	fi

	local TARGET="$1"; shift
	# Generate the dependency information, in case we need to build
	# anything before we actually do the compilation.
	local depsfile="$1.deps"
	rm -rf "$depsfile"
	$CC $CPPFLAGS $CFLAGS -M -MF "$depsfile" -MG "$@" 1>&2
	read DEPS < "$depsfile"
	redo-ifchange ${DEPS#*:}
	rm "$depsfile"

	# Now our dependencies are met, do the compilation.
	$CC $CPPFLAGS $CFLAGS -c -o "$TARGET" "$@" 1>&2
}

c_link () {
	if [ -z "$HAVE_C_COMPILER" ]; then
		return 1
	fi

	local TARGET="$1"; shift
	redo-ifchange "$@"

	$CC -o "$TARGET" "$@" $LDFLAGS 1>&2
}

have_c_library () {
	if [ -z "$HAVE_C_COMPILER" ]; then
		return 1
	fi

	local libname="$1"
	local headername="$2"
	local testldflags="$LDFLAGS"
	local res=1

	local sourcefile="redoconf_temp.$$.c"
	local binary="redoconf_temp.$$.out"

	# Make a C file that tries to include the mentioned header file.
	if [ -n "$headername" ]; then
		echo "#include <$headername>" > "$sourcefile"
	fi
	echo "int main(int argc, char *argv[]) { return 0; }" >> "$sourcefile"

	if [ -n "$libname" ]; then
		testldflags="$testldflags -l$libname"
	fi

	# Try compiling our tempfile and linking against the requested library.
	if $CC $CPPFLAGS $CFLAGS $testldflags -o "$binary" "$sourcefile" 1>&2 ; then
		# Everything went well, we can use this library
		res=0
	fi

	rm -f "$sourcefile" "$binary"

	return "$res"
}
